$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

* {
  font-family: 'Quattrocento Sans', sans-serif;
}

.root-container {
  margin-left: auto;
  margin-right: auto;
}


.top-container {
  height: 0 275px;
}

.top-container, .bottom-container {
  background-color: #1abc9c;
  background-repeat: no-repeat;
  color: #fff;
  padding: 25px 0 30px 0;
  width: 100%;
}

.bottom-container {
  min-height: 100%;
}


.section {
  padding: 20px 0 20px 0;
}

.section-heading {
  padding: 1px;
  border-bottom: 2px solid lightgrey;
}


nav a:link, nav a:visited {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
  letter-spacing: .5px;
}

nav a:hover {
  color: grey;
  text-decoration: none;
  font-size: 1.2em;
  letter-spacing: .5px;
}

.nav-underline {
  padding: 3px 0;
  border-bottom: 1px solid lightgrey;
}